@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	font-family: "Poppins", sans-serif;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--black: #333;
	--green: #017143;
	--white: #fff;
	--white2: #fff;
	--black2: #333;
}

body {
    overflow-x: hidden;
}

.dark {
    --black: #fff;
	--white: #113828;
	--black2: #124e36;
}

section {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: var(--white);
    transition: all 0.2s linear;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}

header .logo {
	position: relative;
	width: 65px;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul > li {
	list-style: none;
	text-decoration: none;
	display: flex;
	margin-left: 30px;
}

header ul li a {
	display: inline-block;
	color: var(--black);
	font-weight: 500;
	text-decoration: none;
    transition: all 0.2s linear;
}

.content {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}

.content .textbox {
	position: relative;
	max-width: 600px;
	z-index: 2;
	margin-right: 20px;
}

.content .textbox h2 {
	font-size: 3em;
	color: var(--black);
	line-height: 1.4em;
	font-weight: 700;
	margin-bottom: 10px;
    transition: all 0.2s linear;
}

.content .textbox h2 span {
	font-size: 1.2em;
	color: var(--green);
    transition: all 0.2s linear;
}

.dark .content .textbox h2 span {
    color: #00ff9b;
}

.content .textbox p {
    color: var(--black);
    transition: all 0.2s linear;
}

.content .textbox a {
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: var(--green);
	color: var(--white2);
	border-radius: 40px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
    transition: all 0.2s linear;
}

.content .imgbox {
	position: relative;
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content .imgbox::before {
	content: "";
	position: absolute;
	width: 350px;
	height: 350px;
	background: var(--green);
	border-radius: 50%;
}

.content .imgbox img {
	position: relative;
	z-index: 1;
	max-width: 350px;
}

.sci {
	position: absolute;
	bottom: 40px;
	left: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sci li {
	list-style: none;
}

.sci li a {
	display: inline-block;
	margin-right: 15px;
	width: 50px;
	height: 50px;
	background: var(--black2);
	color: var(--white2);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
    transition: all 0.2s linear;
}

.sci li a .fa {
	font-size: 1.2em;
}

.sci li a:hover {
	background: var(--green);
}

.theme-switch {
	position: relative;
	width: 40px;
	height: 40px;
	background: var(--black);
	display: inline-flex;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
    transition: all 0.2s linear;
}

.theme-switch::before {
	content: "\f186";
	font-family: "Font Awesome 5 Free";
	color: var(--white);
	font-size: 20px;
}

.theme-switch.active::before {
    content: "\f185";
}

/* Responsiveness */

@media (max-width: 991px) {
    section {
        padding: 150px 20px;
    }

    header {
        padding: 20px;
    }

    .sci {
        bottom: 20px;
        left: 20px;
    }

    .content {
        flex-direction: column-reverse;
    }

    .content .textbox,
    .content .imgbox {
        max-width: 100%;
        margin-right: 0px;
    }

    .content .imgbox img {
        max-width: 250px;
    }

    .content .imgbox::before {
        /* width: 125px;
        height: 125px; */
        clip-path: circle(125px at center);
    }

    .content .textbox h2 {
        font-size: 1.75em;
    }

    .navigation {
        display: none;
    }

    .navigation.active {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--white);
        flex-direction: column;
    }

    header ul li {
        margin: 10px 0;
        margin-left: 0;
    }

    header ul li a {
        font-size: 1.5em;
        font-weight: 300;
    }

    header.active {
        justify-content: flex-end;
    }
    
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(../img/menu.png);
        filter: invert(1);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 1000;
        transition: all 0.2s linear;
    }

    .toggle.active {
        position: fixed;
        background: url(../img/close.png);
        filter: invert(1);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .dark .toggle {
        filter: invert(0);
    }
}
